.ql-delete-quiz {
  position: fixed;
  z-index: 30;
  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem;
}

.ql-delete-quiz__modal {
  max-width: 48rem;
}

@media (width < 48rem) {
  .ql-delete-quiz__modal {
    width: 100%;
    max-width: unset;
  }
}

.ql-delete-quiz__headings {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.ql-delete-quiz__actions {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

@media (width < 48rem) {
  .ql-delete-quiz__actions {
    gap: 0.75rem;
  }
}

.ql-delete-quiz__action {
  flex-grow: 1;
}
